<h1>DBZ personajes</h1>
<hr/>
<!--

! La idea es empezar a reutilizar componentes y módulos. Por ejemplo la lista podríamos parametrizarla, crernaod un componente que muestrer una lista
! pero que los valores sea lo que vaya cambiando. En este caso hacemos un listado de "personajes".
! Así todo el bloque desde el h4 hasta el cierre deel UL vamos a crear un componente

-->

<div class="row">
  <div class="col">

    <app-dbz-list [characterList]="dbzService.characters" (deletedCharacter)="dbzService.onDeleteCharacterMain($event)"></app-dbz-list>

  </div>


  <div class="col">
    <!--
       * Cuando ponemos [] hacemos referencia a un atributo y cuando ponemos () significa que estamos capturando / escuchando un evento.
      ! Aquí estamos diciendo que cuando mi componente dbz-add-character emita un nuevo personaje llamemos al método onNewCharacterMain($event)
      ! $event es una nomenclatura especial de Angular para que el valor que está emitiendo (onNewCharacter) se recoja con el tipo correcto en  onNewCharacterMain
      ! El nombre que tenemos que poner entrer () es el de la PROPIEDAD que es lo que vamos a 'emitir' no el del método
     -->
   <app-dbz-add-character (onNewCharacter)="dbzService.onNewCharacterMain($event)"></app-dbz-add-character>
  </div>
</div>
